<nav class="navbar bottom navbar-light bg-light">
{%- if site.show-style-guide %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <h1>Contact</h1>
                <p>iSolar<br>
                Zonnelaan 29<br>
                8300 Knokke<br>
                België<br>
                info@isolar.be<br>
                +32442 73 42 9</p>
        </div>
        <div class="col-sm-12 col-lg-4">
            <h1>Volg ons</h1>
        </div>
        <div class="col-sm-12 col-lg-4">
            <h1>Betaalwijze</h1>
            <img class="betaalwijze" src="style/betaalwijze.png" alt="betaalwijze">
        </div>
    </div>
</div>

{%- endif %}
</nav>