<!-- <nav class="navbar bottom navbar-light bg-light">
{%- if site.show-style-guide %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-4 col-md-4 col-xs-12">
            <h1>Contact</h1>
                <p>iSolar<br>
                Zonnelaan 29<br>
                8300 Knokke<br>
                België<br>
                info@isolar.be<br>
                +32442 73 42 9</p>
        </div>
        <div class="col-sm-12 col-lg-4 col-md-4 col-xs-12">
            <h1>Volg ons</h1>
        </div>
        <div class="col-sm-12 col-lg-4 col-md-4 col-xs-12">
            <h1>Betaalwijze</h1>
            <img class="betaalwijze" src="assets/images/betaalwijze.png" alt="betaalwijze">
        </div>
    </div>
</div>

{%- endif %}
</nav> -->
<footer>
    {%- if site.show-style-guide %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 ">
                <h1 class="links">Contact</h1>
                    <p>iSolar<br>
                    Zonnelaan 29<br>
                    8300 Knokke<br>
                    België<br>
                    info@isolar.be<br>
                    +32442 73 42 9</p>
            </div>
            <div class="col-sm-6 col-lg-4 col-md-4 center">
                <h1>Volg ons</h1>
                <a href="#" target="_blank" class="link-socialmedia"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#" target="_blank" class="link-socialmedia"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-md-4" style="text-align: center">
                <h1 class="rechts">Betaalwijze</h1>
                <!--<img class="betaalwijze" src="{{ site.baseurl }}assets/images/betaalwijze.png"  align="right" alt="betaalwijze">-->
            </div>
        </div>
    </div>

    {%- endif %}

</footer>

<!-- Font awesome -->
<script src="https://use.fontawesome.com/38a6010d41.js"></script>