@import url('https://fonts.googleapis.com/css?family=Oswald');

$color-primary: #2abada;
$color-secondary: #fbe24a;
$color-text: #706f6f;
$info-color: #2CA8FF;
$mercury: #e5e5e5;
$white: #ffffff;

/* ALGEMEEN */
h1{
    font-size: 20px;
    color: $color-primary;
}

h2{
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 20px;
    color: $color-primary;
}

h3{
    font-size: 18px;
    color: $color-primary;
}
p{
    color:$color-text;
}

body{
    font-family: Oswald;
}

section{
    padding-top: 25px;
    padding-bottom: 25px;
}

a{
    text-decoration: none !important;
}

/* button */
.btn-primary{
    background-color: $color-primary;
    color: $color-secondary;
    display: block;
    margin: auto;
    border: none;
    border-radius: 7px;
    margin-bottom: 30px;
    font-family: Oswald;
    text-transform: uppercase;
    width: 200px;
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;

    &:hover{
        background-color: $color-secondary;
        color: $color-primary;
        text-decoration: none;
        cursor: pointer;
        text-decoration: none !important;
        box-shadow: none !important;
    }
}

.btn-secondary{
    background-color: $color-secondary;
    color: $color-primary;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 200px;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
    text-decoration: none !important;
    box-shadow: none !important;

}

.btn-secondary:hover{
    background-color: $color-primary;
    color: $color-secondary;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none !important;
}

/* HOME */
.index{
    text-align: center;
}

.keuze{
    margin-top: 50px;
    margin-bottom: 30px;
}

.header{
    height: 320px;
    display: block;
    margin: auto;
}

/* card */
.card{
    background-color: none; 
    border: none;

        p{
            text-align: center; 
        }
            .card-titel{
                text-align: center;
            }
                .card-header{
                    border: none;
                    background-color: none;
                    background-color: white;
                }
}

/* steden */
.steden {
    height: 200px;
    display: block;
    margin: 0 auto;
}

/* iconen */
.iconen {
    height: 100px;
    display: block;
    margin: auto;

}

/* OVER ONS */
.overons {
    height: 200px;
}

.main-table{
    td{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: $color-text;
    }
}

.row{
    width: 100% !important;
}

/* PRODUCT */
/* tabel dagen */
.table{
    color: $color-text;
    .line-through{
        text-decoration: line-through;
    }
    border-top-style: hidden;
    td{
        text-align: center;
    }
    th{
        color: $color-primary;
        font-size: 16px;
        font-weight: normal;
        text-align: center
    }
    .promotie{
        background-color: $color-secondary;
        td{
            color: white;
        }
    }
}

 /* kalenders */
.date-pickers{
    input{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 25px;
    }
}
 /* keuze steden */
.form-control{
    background-color: white;
    outline: none !important;
    box-shadow: none !important;

    &:focus{
        border: 1px solid $color-primary !important;
    }
}
/* slider temperatuur */
#slidecontainer {
    width: 100%;

    p{
        display: inline-flex;
        padding-top: 10px;
    }

    .slider {
        -webkit-appearance: none;
        width: 70%;
        height: 2px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        border-radius: 5px;
        margin-left: 15px;
        margin-right: 15px;
    
        &:hover{
            opacity: 1;
        }
    }
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: $color-secondary;
    cursor: pointer;
    border-radius: 50%
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: $color-text;
    cursor: pointer;
    border-radius: 50%
}

/* VERKOOPSVOORWAARDEN */
.verkoopsvoorwaarden{
}

/* WINKELWAGEN*/
.winkelmandje{
    height: 200px;
}

hr{
    width: 70%;
    float: left;
    color: $color-text;
    border-width: 2px;
}

/* BETAALWIJZE */
.betaalwijze_foto{
    height: 35px;
}

/* CONTACT */
#melding{
    display: none;
}

input{
    outline: none !important;
    box-shadow: none !important;

    &:focus{
        border: 1px solid $color-primary !important;
    }
}

textarea{
    outline: none !important;
    box-shadow: none !important;

    &:focus{
        border: 1px solid $color-primary !important;
    }
}

#demo{
    margin-left: 5px;
}

/* Step indicator */

.step-indicator {
    border-collapse: separate;  
    display: table;
    margin-left: 0px;
    position: relative;
    table-layout: fixed;
    vertical-align: middle;   
    li {
      display: table-cell;
      float: none;
      padding: 0;
      width: 1%;
      &:before {
        background-color: $mercury;
        content: "";
        display: block;
        height: 1px;
        position: relative;
        top: 18px;      
      }
      &:first-child {
        &:before {
          left: 50%;
        }
      }
      &:last-child {
        &:before {
          right: 50%;
        }
      }
    }
    .active {
      .step {      
        border-color: $color-primary;
        color: $color-primary;
      }
      .caption {
        color: $color-primary;
      }
    }
    .complete {
      .step {     
        border-color: $color-secondary;
        color: $color-secondary;
      }
      .caption {
        color: $color-secondary;
      }
    }
    .incomplete {
      .step {     
        border-color: $color-text;
        color: $color-text;
      }
      .caption {
        color: $color-text;
      }
    }  
    .active.complete {
      .step {      
        border-color: $info-color;
        color: $info-color;
      }
      .caption {
        color: $info-color;
      }
    }
    .inactive {
      .caption {
        color: $mercury;
      }
    }
    .step {
      background-color: $white;
      border: 1px solid $mercury;
      color: $mercury;
      font-size: 18px;
      width: 36px;
      height: 36px;
      line-height: 36px;
      border-radius: 18px;
      margin: 0 auto;
      position: relative;
      z-index: 1;
    }
    .caption {    
      box-sizing: border-box;
      color: $mercury;
      padding: 11px 16px;
    }  
  }

/* FOOTER */

footer{
   /* background-color: ; */
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    bottom: 0;
    .betaalwijze{
        height: 80px;
    }
    .link-socialmedia{
        i{
            color: $color-primary;
            margin-right: 15px;
            font-size: 20px;
            margin-top: 15px;
        }
    }
    .row{
        h1{
            text-align: center;
            margin-bottom: 15px;
        }
        p{
            text-align: left;
        }
        .link-socialmedia{
            text-align: center;
        }

        .links{
            text-align: left;
        }   
        .rechts{
            text-align: right;
        }
    }
    .betaalwijze_foto{
        height: 40px;
    }
}

/* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}
.steden{
    margin-bottom: 30px;;
}
/*footer*/
/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}
.steden{
    height: 150px;
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}