@import url('https://fonts.googleapis.com/css?family=Oswald');

$color-primary: #2abada;
$color-secondary: #fbe24a;
$color-text: #706f6f;
$danger-color: #ff3b30;
$info-color: #2CA8FF;
$mercury: #e5e5e5;
$success-color: #05AE0E;
$white: #ffffff;

/* fonts*/
body{
    font-family: Oswald;
}

a{
    text-decoration: none !important;
}

#melding{
    display: none;
}

input{
    outline: none !important;
    box-shadow: none !important;

    &:focus{
        border: 1px solid $color-primary !important;
    }
}

section{
    padding-top: 25px;
    padding-bottom: 25px;
}

.table{
    .line-through{
        text-decoration: line-through;
    }

    th, td{
        text-align: center;
    }
}

.main-table{
    td{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

#demo{
    margin-left: 5px;
}

.date-pickers{
    input{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 25px;
    }
}

textarea{
    outline: none !important;
    box-shadow: none !important;

    &:focus{
        border: 1px solid $color-primary !important;
    }
}

.row{
    width: 100% !important;
}

h1{
    font-size: 20px;
    font-weight: bold;
    color: $color-primary;
}

h2{
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 20px;
    color: $color-primary;
}

h3{
    font-size: 18px;
    color: $color-primary;
}
p{
    color:$color-text;
}

/* Step indicator */

.step-indicator {
    border-collapse: separate;  
    display: table;
    margin-left: 0px;
    position: relative;
    table-layout: fixed;
    vertical-align: middle;   
    li {
      display: table-cell;
      float: none;
      padding: 0;
      width: 1%;
      &:before {
        background-color: $mercury;
        content: "";
        display: block;
        height: 1px;
        position: relative;
        top: 18px;      
      }
      &:first-child {
        &:before {
          left: 50%;
        }
      }
      &:last-child {
        &:before {
          right: 50%;
        }
      }
    }
    .active {
      .step {      
        border-color: $info-color;
        color: $info-color;
      }
      .caption {
        color: $info-color;
      }
    }
    .complete {
      .step {     
        border-color: $success-color;
        color: $success-color;
      }
      .caption {
        color: $success-color;
      }
    }
    .incomplete {
      .step {     
        border-color: $danger-color;
        color: $danger-color;
      }
      .caption {
        color: $danger-color;
      }
    }  
    .active.complete {
      .step {      
        border-color: $info-color;
        color: $info-color;
      }
      .caption {
        color: $info-color;
      }
    }
    .inactive {
      .caption {
        color: $mercury;
      }
    }
    .step {
      background-color: $white;
      border: 1px solid $mercury;
      color: $mercury;
      font-size: 18px;
      width: 36px;
      height: 36px;
      line-height: 36px;
      border-radius: 18px;
      margin: 0 auto;
      position: relative;
      z-index: 1;
    }
    .caption {    
      box-sizing: border-box;
      color: $mercury;
      padding: 11px 16px;
    }  
  }

/* button */
.btn-primary{
    background-color: $color-primary;
    color: $color-secondary;
    display: block;
    margin: auto;
    border: none;
    border-radius: 0px;
    margin-bottom: 30px;
    font-family: Oswald;
    text-transform: uppercase;
    width: 200px;
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;

    &:hover{
        background-color: $color-secondary;
        color: $color-primary;
        text-decoration: none;
        cursor: pointer;
        text-decoration: none !important;
        box-shadow: none !important;
    }
}


.btn-secondary{
    background-color: $color-secondary;
    color: $color-primary;
    border-radius: 0px;
    margin-bottom: 30px;
    width: 200px;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
    text-decoration: none !important;
    box-shadow: none !important;

}

.btn-secondary:hover{
    background-color: $color-primary;
    color: $color-secondary;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none !important;
}

/* header */
.index{
    text-align: center;
}

.keuze{
    margin-top: 50px;
    margin-bottom: 30px;
}

.header{
    height: 400px;
    display: block;
    margin: auto;
}

/* steden */
.steden {
    height: 200px;
    display: block;
    margin: 0 auto;
}

/* iconen */
.iconen {
    height: 100px;
    display: block;
    margin: auto;

}

/* overons */
.overons {
    height: 200px;
}

/* card */
.card{
    background-color: none; 
    border: none;

        p{
            text-align: center; 
        }

            .card-titel{
                text-align: center;
            }
                .card-header{
                    border: none;
                    background-color: none;
                    background-color: white;
                }
}

/* winkelwagen */
.winkelwagen {
    height:300px;
    width:300px;
    background-image: url('style/sprite.png');
    background-position: 0px 0px;
}

.betaalwijze_foto{
    height: 40px;
}

form{
    background-color: white;
    border: none;
}

.kalender{
    height: 230px;
}

footer{
    /* background-color: $color-primary; */
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    bottom: 0;
    .link-socialmedia{
        i{
            color: $color-primary;
            margin-right: 15px;
            font-size: 20px;
            margin-top: 15px;
        }
    }
}

/*slide container*/
#slidecontainer {
    width: 100%;

    p{
        display: inline-flex;
        padding-top: 10px;
    }

    .slider {
        -webkit-appearance: none;
        width: 70%;
        height: 2px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        border-radius: 5px;
        margin-left: 15px;
        margin-right: 15px;
    
        &:hover{
            opacity: 1;
        }
    }


}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: $color-secondary;
    cursor: pointer;
    border-radius: 50%
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: $color-text;
    cursor: pointer;
    border-radius: 50%
}

/* betaalwijze */
.betaalwijze{
    height: 80px;
}

/* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}



/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}