@import url('https://fonts.googleapis.com/css?family=Oswald');

$color-primary: #2abada;
$color-secondary: #fbe24a;
$color-text: #706f6f;

 /* NAVIGATION BAR
 -------------------------------------------------- */
 body{
   font-family: Oswald;
   font-size: 14px;
 }
 .logo{
   height: 20px;
 }
 #navigation {
    min-height: 70px !important;
    padding-top: 10px;
  }
  #navigation .navbar-brand {
    padding-right: 28px;
    width: 280px;
    border-right: 3px solid #ffffff1a;
    font-family: Oswald;
    font-style: italic;
    font-size: 26px !important;
    color: #5fcf80 !important;
  }
  #navigation .navbar-brand .site-logo {
    float: left;
    margin-top: -10px;
    margin-right: 1rem;
    width: 250px;
  }
  #navigation #navbar {
    float: right !important;
    margin-right: -15px;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
  }
  
  @media (max-width: 768px) {
    #navigation #navbar {
        float: none !important;
        margin-right: 0;
    }
  }
  #navigation #navbar .navbar-nav li a {
    color: #b2bbbd !important;
  }
  #navigation #navbar .navbar-nav li a:hover,
  #navigation #navbar .navbar-nav li a:focus {
    color: #ffffff !important;
    border-bottom: 2px solid #ffffff !important;
  }
  #navigation #navbar .navbar-nav .active a {
    color: #ffffff !important;
    border-bottom: 2px solid #ffffff !important;
  }
  #navigation #navbar .navbar-nav .dropdown-menu li a {
    color: #515151 !important;
    text-shadow: none !important;
  }